body {
  background-image: linear-gradient(to right, #71c5ee, #025091);
}
#clock-analogue {
  border: 15px solid #2f3034;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  position: relative;
  background-color: #1c2229;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
}

#clock-digital {
  margin-top: 60px;
  border: 7px solid #2f3034;
  border-radius: 25px;
  width: 340px;
  height: 107px;
  background-color: #1c2229;
  color: #b6e7ff;
  font-size: 60px;
  text-align: center;
  box-shadow: inset 5px 5px 5px rgba(255, 255, 255, 0.1),
    inset -5px -5px 5px rgba(255, 255, 255, 0.1),
    -5px -5px 5px rgba(255, 255, 255, 0.1),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    -5px -5px 15px rgba(255, 255, 255, 0.1);
}
#clock-analogue .numbers {
  position: absolute;
  width: 3px;
  height: 100%;
  top: 0;
  left: 50%;
}

#clock-analogue .numbers:nth-child(1) {
  border: 3px solid #00eeff;
}
#clock-analogue .numbers:nth-child(2) {
  transform: rotate(90deg);
  border: 3px solid #00ff8c;
}
#clock-analogue .numbers:nth-child(3) {
  transform: rotate(60deg);
  border: 3px solid #eeff05;
}
#clock-analogue .numbers:nth-child(4) {
  transform: rotate(30deg);
  border: 3px solid #ff8800;
}
#clock-analogue .numbers:nth-child(5) {
  transform: rotate(120deg);
  border: 3px solid #ff0099;
}
#clock-analogue .numbers:nth-child(6) {
  transform: rotate(150deg);
  border: 3px solid #a600ff;
}
.clck {
  position: absolute;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: #1c2229;
  top: 13%;
  left: 14%;
}
#hour-hand {
  width: 2px;
  height: 18%;
  position: absolute;
  border: 2px solid #b6e7ff;
  border-radius: 20px;
  top: 34%;
  left: 50%;
  transform-origin: bottom;
}
#minute-hand {
  width: 2px;
  height: 26%;
  position: absolute;
  border: 2px solid #b6e7ff;
  border-radius: 20px;
  top: 27%;
  left: 50%;
  transform-origin: bottom;
}
#second-hand {
  width: 2px;
  height: 32%;
  position: absolute;
  border: 2px solid #ff001e;
  border-radius: 20px;
  top: 20%;
  left: 50%;
  transform-origin: bottom;
}
#center-point {
  width: 17px;
  position: absolute;
  height: 17px;
  border-radius: 50%;
  background-color: #43474b;
  top: 48%;
  left: 48%;
}
